<!-- 地圖 -->
<div id="map" class="w-100" style="height: 40rem;"></div>
<!--地圖小工具通用 -->
<div class="position-absolute" style="left: 37%; top: 70%;">
    <a href="javascript:;" class="increase_icon" title="放大">
        <img src="/images/MapIcon/zoombig.png" />
    </a>
    <a href="javascript:;" class="minify_icon phonenone" title="縮小">
        <img src="/images/MapIcon/zoomsmall.png" />
    </a>
    <a href="javascript:;" class="reload_icon" title="重整">
        <img src="/images/MapIcon/reform.png" />
    </a>
</div>
<!--下方xy座標 -->
<div class="epsg_wrap position-absolute translate-middle w-25" style="left: 70%; top: 50%; display: none;">
    <p>WGS84：X:<mark class="WGS84_x"></mark>,Y:<mark class="WGS84_y"></mark></p>
    <p>TWD97：X:<mark class="TWD97_x"></mark>,Y:<mark class="TWD97_y"></mark></p>
</div>