@using LZAIMonitor.Areas.Mgr.Models.Users

@model UsersDocModel
@{
    ViewBag.Title = "新增人員";
    Layout = "~/Views/Shared/_DocumentDialogLayout.cshtml";
}
@section scripts {
    <script src="~/Scripts/Views/Mgr/Users/Users201A0.js?@DateTime.Now.ToString("yyyyMMddhhmmss")" type="text/javascript"></script>
  

    <script type="text/javascript">
    var Token = '@CommonRazorFunctions.GetAntiForgeryToken()';
        var UrlInsert = '@Url.Action("Insert")';
 
    </script>
}
<div style="margin:0 auto;width:80%;background-color:white;padding:20px;border-radius:1.5rem;max-width:1024px">
    <h2 class="title">
        <span>
            新增人員
        </span>
    </h2>

    @section buttons{
        <button onclick="Insert();" class="btn btn-primary" style="background-image:none !important;">儲存</button>
        <button onclick="window.parent.Swal.close();" class="btn btn-secondary" style="background-image:none !important;">取消</button>
    }


    @using (Html.BeginForm("Insert", "Users", FormMethod.Post, new { id = "InsertDocForm", @novalidate = "", autocomplete = "off", onsubmit = "return false;" }))
    {
        { Html.RenderPartial("Users20100Partial", Model); }
    }

</div>


