@using LZAIMonitor.Areas.Cle.Models.GrantInfo
@model  GrantInfoDocModel

@{
    ViewBag.Title = "GrantInfo201A0";
    Layout = "~/Views/Shared/_DocumentDialogLayout.cshtml";
}

@section scripts {
    <script src="~/Scripts/Views/Cle/GrantInfo/GrantInfo201A0.js?@DateTime.Now.ToString("yyyyMMddhhmmss")" type="text/javascript"></script>
    <script type="text/javascript">
        var Token = '@CommonRazorFunctions.GetAntiForgeryToken()';
        var UrlInsert = '@Url.Action("Insert")';
        var UrlQuery = '@Url.Action("GrantInfo10100")';
    </script>
}
<div style="margin:0 auto;width:100%;background-color:white;padding:20px;border-radius:1.5rem;max-width:1024px">
    @*<h2 class="title">
        <span>
            新增事業單位
        </span>
    </h2>*@
    @section buttons{
        <button id="btnCleGrantInfoInsert" class="btn btn-primary" style="background-image:none !important;">新增</button>
        <button onclick="window.parent.Swal.close();" class="btn btn-secondary" style="background-image:none !important;">取消</button>
    }

    @using (Html.BeginForm("Insert", "GrantInfo", FormMethod.Post, new { id = "InsertDocForm", @novalidate = "", autocomplete = "off", onsubmit = "return false;" }))
    {
        @Html.AntiForgeryToken()
        { Html.RenderPartial("GrantInfo20100Partial", Model); }

    }
</div>