@using LZAIMonitor.Areas.Mgr.Models

@model GrpFuncViewModel.Filter

<div>
    <button type="button" id="Insert" onclick="Sweet2addDialog('新增', UrlInsert, 1100, 1100, 'QueryGroupId='+GroupId+'')" style="font-weight: bold; border-radius: 45px; width: 100px;background-image:none !important;" class="btn btn-success">新增</button>
    <button type="button" id="Back" onclick="back()" style="font-weight: bold; border-radius: 45px; width: 120px;background-image:none !important;" class="btn btn-primary">回群組管理</button>
</div>


