@using LZAI.Model.DB
@model CleWasteCar
@{

    ViewBag.Title = "修改人員";
    Layout = "~/Views/Shared/_DocumentDialogLayout.cshtml";
}
@section scripts {
    <script src="~/Scripts/Views/Cle/WasteCar/WasteCar201E0.js?@DateTime.Now.ToString("yyyyMMddhhmmss")" type="text/javascript"></script>
    <script type="text/javascript">
    var Token = '@CommonRazorFunctions.GetAntiForgeryToken()';
        var UrlUpdate = '@Url.Action("Update")';
         var UrlQuery = '@Url.Action("CleWasteCar10100")';
    </script>
}
<div style="margin:0 auto;width:100%;background-color:white;padding:20px;border-radius:1.5rem;max-width:1024px">
    @*<h2 class="title">
        <span>
            車輛資料
        </span>
    </h2>*@



    @using (Html.BeginForm("Update", "WasteCar", FormMethod.Post, new
    {
        id = "UpdateDocForm",
        @novalidate = "",
        autocomplete = "off",
        onsubmit = "return false;"
    }))
    {
        @Html.AntiForgeryToken(); @*注意!! 未使用Ajax傳資料記得使用此Token*@
        {
            Html.RenderPartial("WasteCar20100Partial", Model);
                @section buttons{
        <button id="btnCleWasteCarUpdate"  class="btn btn-primary" style="background-image:none !important;">修改</button>
        <button onclick="window.parent.Swal.close();" class="btn btn-secondary" style="background-image:none !important;">取消</button>
    }
        }

    }

</div>