@using LZAI.Model.DB
@model List<Vw_CarWatchEvent>



<div class="pt-2">
    @(Html.DataTableFor<Vw_CarWatchEvent>
    ().Columns(
    col =>
    {
        col.Field(x => x.CHIsSetGPS);
        col.Field(x => x.InsTime).Render("dateTypeToyyyyMMdd").Width("15%");
        col.Field(x => x.CarImg).Render("CarImgFormatter").Width("15%");
        col.Field(x => x.Head_No);
        col.Field(x => x.Plate_No);
        col.Field(x => x.Fac_No);
        col.Field(x => x.Fac_Name);
        col.Field(x => x.RegionName);
        col.Field(x => x.CHIsGPSHistory);
        col.Field(x => x.EventId).Title("操作功能").Render("operateFormatter").Width("15%");

    }
    ).AddProperty("id", "queryTable")
    .AddProperty("class", "table table-striped table-bordered table-hover  text-center")
    .Paging(true)
    .Processing(true)
    .Destroy(true)
    .ServerSide(true)
    .AutoWidth(false)
    .Searching(false)
    .Ordering(false)
    .PageLength(10)
    .LengthChange(true)
    //.LengthMenu("lengthMenuList")
    .Language(new PSTFrame.MVC.Helper.Table.DataTablesLanguage { Url = "../../Scripts/datatables-zh-TW.js", ZeroRecords = "沒有符合的結果" })
    .Ajax(new PSTFrame.MVC.Helper.Table.DataTablesAjax
    {
        Method = "post",
        Url = Url.Content("~/Cle/CarWatchRecord/Query"),
        Data = "ajaxParam",

    })
    .ToHtml()

    )

</div>